@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.search {
    @include flex();
    height: 1.8em;
    * {
        background: $grey;
        border: $grey;
    }
    input {
        padding-left: 6px;
        border-right: 2px solid $blue-1;
        @include font-size('small');
        color: $blue-1;
        ::placeholder {
            color: $blue-1;
        }
    }
    button {
        width: 2.25em;
        @include font-size('small');
        color: $blue-1;
    }
}