@import '../../../../assets/scss/variables';

.search {
    display: flex;
    height: #{'max(30px, 3.8vh)'};
    * {
        background: $grey;
        border: $grey;
    }
    input {
        padding-left: 6px;
        border-right: 2px solid $background-1;
        font-size: clamp(1.125rem, 1.25vw, 1.65rem);
        color: $background-1;
        ::placeholder {
            color: $background-1;
        }
    }
    button {
        width: 2vw;
        font-size: clamp(1rem, 1.2vw, 1.5rem);
        color: $background-1;
    }
}