@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.slider {
    width: 90%;
    @include flex();
    justify-content: center;
    &__range {
        appearance: none;
        width: 85%;
        height: 1.6em;
        border-radius: 0.5em;  
        background: $grey;
        outline: none;
        transition: opacity .2s;
        &::-webkit-slider-thumb {
            appearance: none;
            width: 2em;
            height: 2em;
            border-radius: 50%; 
            background: $blue-2;
            cursor: pointer;
        }
    }    
    &__value {
        display: inline-block;
        position: relative;
        width: 12%;
        color: $grey;
        line-height: 20px;
        text-align: center;
        border-radius: 3px;
        background: $blue-2;
        padding: 5px 10px;
        margin-left: 8px;

        &:after {
            position: absolute;
            top: 8px;
            left: -7px;
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-right: 7px solid $blue-2;
            border-bottom: 7px solid transparent;
            content: '';
        }
    }
}