@import '../../../assets/scss/variables';

.container {
    background: $grey;
    color: $blue-2;
    font-size: clamp(0.6rem, 2vw, 2rem);
    width: 80%;
    display: flex;
    &--parent {
        padding: 1.5em;
        flex-direction: column;
    }
    &--additional {
        padding-top: 1.5em;
        flex-wrap: wrap;
    }
}
.data {
    border: 0.3em solid $blue-2;
    padding: 1.5em;
    &--main {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__img {
        width: #{'min(600px, 10vw)'};
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__temp {
        font-size: clamp(2rem, 4vw, 4rem);
    }
}