@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

nav {
    height: 100vh;
    width: 20%;
    background: linear-gradient($blue-1, $blue-2);
    color: $grey;
    @include flex-column();
    align-items: center;
    * {
        width: 90%;
    }
    hr {
        height: 2px;
        background: $grey;
        border-color: $grey;
    }
}
.logo {
    width: #{'min(200px, 90%)'};
}
.location {
    padding-bottom: 0.8em;
    @include flex-column();
}
.links {
    height: fill-available;
    @include flex-column();
    align-items: center;
    justify-content: space-evenly;
}
footer {
    padding: 1em;
    border-top: 1px solid $grey;
    @include font-size('footer');
    text-align: center;
}